// COLORS
$color1: #004861;
$color2: #fff;
$color3: #090909;
$color4: #d5e11f;

// MEDIA QUERIES
$screen-media: "only screen and (min-width : 768px)";
$phone-media: "only screen and (max-width : 767px)";

// GRID 
$gutter: 30px;